
<div class="grid grid-cols-3 grid-rows-5 gap-4 m-10">
    <div >
        <img src="https://www.showtimeevent.com/images/gallery/Events%20Decoration.jpg" alt="">
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/gallery/Wedding%20Oragnizer%20in%20delhi.jpg" alt="">
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/gallery/Weddings%20organizer.jpg" alt="">
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/gallery/Flower%20Decoration.jpg" alt="">
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/gallery/wedding%20planner%20in%20delhi.jpg" alt="">
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/gallery/Weddings%20Decoration.jpg" alt="">
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/gallery/Weddings%20Managment.jpg" alt="">
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/gallery/Weddings%20planner.jpg" alt="">
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/gallery/Weddings.jpg" alt="">
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/gallery/fashion-show-organizer.jpeg" alt="">
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/gallery/Wedding-planner-delhi.jpeg" alt="">
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/gallery/College-event-planner.jpeg" alt="">
    </div>
   
</div>
    
