<div>
    <h2 class="text-center">Event Management Services</h2>
</div>
<div>
    
<div class="grid grid-cols-4 grid-rows-3 gap-12 m-10">
    <div >
        <img src="https://www.showtimeevent.com/images/Wedding-Planner.jpg" alt="">
        <p class="font-bold text-base text-center">Wedding Planners</p>
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/Conference-Event-Organizers.jpg" alt="">
        <p class="font-bold text-base text-center">Corporate Event Organizer</p>
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/Wedding-organizers.jpg" alt="">
        <p class="font-bold text-base text-center">Wedding Organizers</p>
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/Corporate-Event-Planners.jpg" alt="">
        <p class="font-bold text-base text-center">Corporate Event Planners</p>
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/Wedding-Decorators.jpg" alt="">
        <p class="font-bold text-base text-center">Wedding Decorators</p>
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/Party-Planners.jpg" alt="">
        <p class="font-bold text-base text-center">Party Planners</p>
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/Party-Organizers.jpg" alt="">
        <p class="font-bold text-base text-center">Party Organizers</p>
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/Event-planners.jpg" alt="">
        <p class="font-bold text-base text-center">Event Planners</p>
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/Party-Organizers.jpg" alt="">
        <p class="font-bold text-base text-center">Event Organizers</p>
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/Event-Management-Companies.jpg" alt="">
        <p class="font-bold text-base text-center">Event Management Companies</p>
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/Conference-event-planners.jpg" alt="">
        <p class="font-bold text-base text-center">Conference Event Planners</p>
    </div>
    <div >
        <img src="https://www.showtimeevent.com/images/Conference-Event-Organizers.jpg" alt="">
        <p class="font-bold text-base text-center">Conference Event Organizers</p>
    </div>
</div>
    
</div>
